In [1]:
import pandas as pd

In [2]:
df1_oxid = pd.read_csv('Oxid_000.csv')
df1_soft = pd.read_csv('Photo_Softbake_000.csv')
df1_litho = pd.read_csv('Photo_lithography_000.csv')
df1_etch = pd.read_csv('Etching_000.csv')
df1_ion  = pd.read_csv('Implant_000.csv')
df1_target = pd.read_csv('Inspect_000.csv')

- 데이터 병합 : 공통된 항목을 기준으로 병합을 실시 (Key Column -> 이 데이터에서는 No_Die )
    - Inner Join : Key Column에서 공통된 값들만 가져와서 병합 
    - Outer Join : Key Column에 존재하는 모든 항목에 대해 병합 
    - Left Join / Right Join : 특정 테이블 기준으로 병합

In [3]:
d1 = pd.DataFrame(data=[['홍길동',20,'남성'],
                        ['성춘향',40,'여성'],
                        ['이몽룡',50,'남성']],
                 columns=['이름','나이','성별'])

d2 = pd.DataFrame(data=[['홍길동','경기'],
                        ['성춘향','울산'],
                        ['허준','제주'],
                        ['이호창','서울']],
                 columns=['이름','주소'])

In [5]:
pd.merge(d1,d2,on='이름',how='inner')

    이름  나이  성별  주소
0  홍길동  20  남성  경기
1  성춘향  40  여성  울산

In [6]:
pd.merge(d1,d2,on='이름', how='outer')

    이름    나이   성별   주소
0  홍길동  20.0   남성   경기
1  성춘향  40.0   여성   울산
2  이몽룡  50.0   남성  NaN
3   허준   NaN  NaN   제주
4  이호창   NaN  NaN   서울

In [7]:
pd.merge(d1,d2,on='이름', how='left')

    이름  나이  성별   주소
0  홍길동  20  남성   경기
1  성춘향  40  여성   울산
2  이몽룡  50  남성  NaN

In [9]:
pd.merge(d1,d2,on='이름', how='right')

    이름    나이   성별  주소
0  홍길동  20.0   남성  경기
1  성춘향  40.0   여성  울산
2   허준   NaN  NaN  제주
3  이호창   NaN  NaN  서울

In [14]:
m1 = pd.merge(df1_oxid, df1_soft, on='No_Die', how='inner')
m2 = pd.merge(m1, df1_litho, on='No_Die', how='inner')
m3 = pd.merge(m2, df1_etch , on='No_Die', how='inner')
m4 = pd.merge(m3, df1_ion , on='No_Die', how='inner')
m5 = pd.merge(m4, df1_target , on='No_Die', how='inner')
m5.columns

c:\users\user.desktop-ff36f8g\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Lot_Num_x', 'Wafer_Num_x', 'Datetime_x'} in the result is deprecated and will raise a MergeError in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\user.desktop-ff36f8g\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Lot_Num_x', 'Wafer_Num_x', 'Datetime_x'} in the result is deprecated and will raise a MergeError in a future version.
  """

Index(['Ox_Chamber', 'process', 'type', 'Temp_OXid', 'Vapor', 'ppm',
       'Pressure', 'Oxid_time', 'thickness', 'No_Die', 'Lot_Num_x',
       'Wafer_Num_x', 'Datetime_x', 'Unnamed: 0_x', 'photo_soft_Chamber',
       'process 2', 'resist_target', 'N2_HMDS', 'pressure_HMDS', 'temp_HMDS',
       'temp_HMDS_bake', 'time_HMDS_bake', 'spin1', 'spin2', 'spin3',
       'photoresist_bake', 'temp_softbake', 'time_softbake', 'Lot_Num_y',
       'Wafer_Num_y', 'Datetime_y', 'lithography_Chamber', 'Line_CD', 'Lamp',
       'UV_type', 'Wavelength', 'Resolution', 'Energy_Exposure', 'Lot_Num_x',
       'Wafer_Num_x', 'Datetime_x', 'Unnamed: 0_y', 'Etching_Chamber',
       'Process 3', 'Temp_Etching', 'Source_Power', 'Selectivity', 'Lot_Num_y',
       'Wafer_Num_y', 'Datetime_y', 'Thin Film 4', 'Thin Film 3',
       'Thin Film 2', 'Thin Film 1', 'Chamber_Num', 'process4', 'Flux60s',
       'Flux90s', 'Flux160s', 'Flux480s', 'Flux840s', 'input_Energy',
       'Current', 'Temp_implantation', 'Furance_Temp', 'RTA_Temp', 'Lot_Num_x',
       'Wafer_Num_x', 'Datetime_x', 'Target', 'Lot_Num_y', 'Wafer_Num_y',
       'Datetime_y', 'Error_message', 'Wafer_map'],
      dtype='object')

In [17]:
df1 = m5.drop(columns=['Lot_Num_x','Wafer_Num_x', 'Datetime_x', 'Unnamed: 0_x',
                       'Lot_Num_y','Wafer_Num_y', 'Datetime_y',  'Unnamed: 0_y'])
# 지금은 챔버 경로가 따로 나뉘어져 있어서 전체 경로를 파악하기는 어려움.
# 다 한번에 붙여주자.
df1.columns

Index(['Ox_Chamber', 'process', 'type', 'Temp_OXid', 'Vapor', 'ppm',
       'Pressure', 'Oxid_time', 'thickness', 'No_Die', 'photo_soft_Chamber',
       'process 2', 'resist_target', 'N2_HMDS', 'pressure_HMDS', 'temp_HMDS',
       'temp_HMDS_bake', 'time_HMDS_bake', 'spin1', 'spin2', 'spin3',
       'photoresist_bake', 'temp_softbake', 'time_softbake',
       'lithography_Chamber', 'Line_CD', 'Lamp', 'UV_type', 'Wavelength',
       'Resolution', 'Energy_Exposure', 'Etching_Chamber', 'Process 3',
       'Temp_Etching', 'Source_Power', 'Selectivity', 'Thin Film 4',
       'Thin Film 3', 'Thin Film 2', 'Thin Film 1', 'Chamber_Num', 'process4',
       'Flux60s', 'Flux90s', 'Flux160s', 'Flux480s', 'Flux840s',
       'input_Energy', 'Current', 'Temp_implantation', 'Furance_Temp',
       'RTA_Temp', 'Target', 'Error_message', 'Wafer_map'],
      dtype='object')

In [20]:
df1['Chamber_route'] = 'route' + df1['Ox_Chamber'].astype(str) + \
                            df1['photo_soft_Chamber'].astype(str) + \
                            df1['lithography_Chamber'].astype(str) + \
                            df1['Etching_Chamber'].astype(str) + \
                            df1['Chamber_Num'].astype(str)
df1.head()

c:\users\user.desktop-ff36f8g\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Ox_Chamber,process,type,Temp_OXid,Vapor,ppm,Pressure,Oxid_time,thickness,No_Die,...,Flux840s,input_Energy,Current,Temp_implantation,Furance_Temp,RTA_Temp,Target,Error_message,Wafer_map,Chamber_route
0,1,Oxidation,dry,1138.979159,O2,32.80,0.200,62,699.443,NOLSM111,...,6.000007e+17,31574.410,0.01,102.847,885.0,154,96,none,[[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...,route11133
1,1,Oxidation,dry,1218.184551,O2,31.86,0.194,137,696.792,NOLSM212,...,6.000012e+17,31580.213,0.01,104.323,919.0,154,102,none,[[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...,route11222
2,1,Oxidation,dry,1062.467808,O2,39.51,0.217,128,705.471,NOLSM313,...,6.000002e+17,32162.414,0.01,100.605,916.0,155,95,none,[[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...,route11311
3,1,Oxidation,dry,1114.704773,O2,32.88,0.201,90,710.772,NOLSM414,...,6.000003e+17,32874.925,0.01,101.739,911.0,156,117,none,[[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...,route12111
4,1,Oxidation,dry,989.411946,O2,38.11,0.204,98,716.975,NOLSM515,...,6.000013e+17,30985.928,0.01,106.422,872.0,155,143,none,[[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...,route12222

In [22]:
df1['Chamber_route'].value_counts()

route32222    34
route23222    34
route22222    34
route13222    31
route21222    30
route11222    29
route31222    26
route33222    25
route12222    21
route11133    18
route11311    18
route12111    18
route11111    17
route21311    17
route12311    17
route13111    17
route13333    17
route21133    17
route22111    17
route11333    17
route22333    17
route23311    17
route31111    17
route31333    17
route32133    17
route32311    17
route12133    17
route33111    17
route33311    17
route33133    17
route33333    17
route32111    17
route31311    17
route12333    17
route31133    17
route23333    17
route13311    17
route23111    17
route22311    17
route21111    17
route21333    16
route22133    12
route23133    11
route13133    10
route32333     9
Name: Chamber_route, dtype: int64

In [23]:
df1.isnull().sum()

Ox_Chamber             0
process                0
type                   0
Temp_OXid              0
Vapor                  0
ppm                    0
Pressure               0
Oxid_time              0
thickness              0
No_Die                 0
photo_soft_Chamber     0
process 2              0
resist_target          0
N2_HMDS                0
pressure_HMDS          0
temp_HMDS              0
temp_HMDS_bake         0
time_HMDS_bake         0
spin1                  0
spin2                  0
spin3                  0
photoresist_bake       0
temp_softbake          0
time_softbake          0
lithography_Chamber    0
Line_CD                1
Lamp                   0
UV_type                0
Wavelength             0
Resolution             1
Energy_Exposure        1
Etching_Chamber        0
Process 3              0
Temp_Etching           0
Source_Power           0
Selectivity            0
Thin Film 4            1
Thin Film 3            1
Thin Film 2            1
Thin Film 1            1
Chamber_Num            0
process4               0
Flux60s                1
Flux90s                1
Flux160s               1
Flux480s               0
Flux840s               0
input_Energy           0
Current                0
Temp_implantation      0
Furance_Temp           1
RTA_Temp               0
Target                 0
Error_message          0
Wafer_map              0
Chamber_route          0
dtype: int64